<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="./logs" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                {"timestamp":"%d{ISO8601}","level":"%-5level","thread":"%thread","logger":"%logger{36}","message":"%message"}%n
            </Pattern>
        </layout>
    </appender>

    <!-- Specific logger for email service -->
    <logger name="com.LogManagementSystem.LogManager.Security.EmailService" level="INFO"/>
    
    <!-- Turn off debug logging for JavaMail -->
    <logger name="org.springframework.mail" level="INFO"/>
    <logger name="javax.mail" level="INFO"/>
    <logger name="com.sun.mail" level="INFO"/>

    <root level="info">
        <appender-ref ref="Console" />
    </root>

</configuration>